version: "3.9"

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: realtimeASR
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      FLASK_SECRET_KEY: super-secret-key
      MONGO_URI: mongodb://mongo:27017/realtimeASR
      GOOGLE_CLIENT_ID: ""
      GOOGLE_CLIENT_SECRET: ""
    volumes:
      - hf-cache:/models/cache
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  mongo-data:
  hf-cache:




